#full-info {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
    color: #424040;
}

button {
    display: block;
    margin: 20px auto;
    width: 90%;
    padding: 10px;
    background-color: #9f9fbf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.div-post {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.div-post>.post {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.div-post>.post>p {
    margin: 10px 0;
}

.div-post>.post> a {
    text-decoration: none;
    color: #977c8f;
}
